@use 'sass:color';
@use '@material/button/index' as mdc-button;

html,
body {
	margin: 0;
	font-family: 'Roboto';
	height: 100%;
	height: 100dvh;
}

a {
	color: #40b3ff;
}

a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}

.mdc-button.btn-round {
	@include mdc-button.shape-radius(999px);
	min-width: unset;
	padding: 0;
	aspect-ratio: 1/1;
	font-size: large;
	padding: 1.5rem;
}
